<div class="footer" id="footer">
	<div class="footer_info">
		<p><u>About PDAPP</u></p>
		<p>PDAPP is a tool for helping you fulfill your potential, developing personally and professionally
			 by providing a clear and consistent framework for planning, 
			 executing, recording and reviewing your development activities.</p>
	</div>
	<div class="footer_info">
		<p><u>Development</u></p>
		<p>Please be aware that PDAPP is currently in the early stages of testing and therefore is subject to changes in structure and functionality.
			While this is the case you should ensure that PDapp does not hold the only copy of any important personal or professional development information.</p>
	</div>
	<div class="footer_info">
		<p><u>About Me</u></p>
		<p>My name is Adam and I am passionate about helping people to maximise their ability to achieve their goals and to make the most of the one life we each have.
			 I made this site as a tool to help do that.</p>
			<p>If you have questions, feel free to send me an email: act83g@gmail.com</p>
	</div>
	<div class="footer_info">
		<p><u>Cookies</u></p>
		<p>This site uses cookies to keep you logged in as you browse the pages of the site. It also uses a LinkedIn cookie to help authenticate you when you sign in.</p>
	</div>
	<div class="footer_info">
	<img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
	</div>
</div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>