<div class="help_info">
	<p><u>My Envisioned Future</u></p>
	<p> This is your opportunity to get your storytelling hat on. Describe how things will be for you when everything in your plan works out. 
		Try describing the future in the present tense, as if it's happening now</p>
	<p>Try to be descriptive; let your words create a picture. This picture will help you to focus on setting your goals and achieving your objectives, 
		especially when you need that extra bit of motivation.</p>
	<p>Each time you do a major review of your plans, you can check to see if your description still matches the future you have in mind.</p>
</div>
<div class="help_info">
	<p><u>Goal Setting</u></p>
	<p> Try to be descriptive about the knowledge, skills and experience that you need to develop in order to achieve your goals. 
		By doing this, it will be easier to focus your objectives on relevant activities that will contribute towards each goal.  </p>
</div>
<div class="help_info">
	<p><u>Short, Medium, Long?</u></p>
	<p>There's nothing stopping you defining your own timeframe for these goals, but a suggestion would be that short term goals 
		are those that you want to achieve within the next year from the point when you set them or do a major review. 
		Medium term goals might cover a 2/3 year timeframe and Long term goals you might want to achieve within the next 5 years.</p>
</div>
<div class="help_info">
	<p><u>Objectives</u></p>
	<p>When setting objectives, consider the acronym SMART. By trying to make sure that your objectives are 
		Specific, Measurable, Achievable/Realistic and Timebound, you will be more able to achieve them and to determine if you have been succesfull.</p>
	
</div>