<!DOCTYPE html>
<html>
	<head>
		<title>Do | pdapp</title>
		{% include 'includes/header.html' %}
		<script type="text/javascript">document.getElementById("do").style.color="black"</script>
		<div id='content'>
			<h2>Do Page - useful information for executing tasks and activities</h2>
			<br>
			<br>What would be useful to show here?<br><br>
			 - a place where you can collect your own comments on how you most effectively accomplish tasks and activities?<br>
			 - advice from the community on ways to help you do things better?<br>
			 <br>
			 Use the suggestions page to have your say.
			<br>
		</div>
		{% include 'includes/footer.html' %}
	</body>
</html>