<meta name="Description" content="PDapp - Personal and Professional Devlopment, Goal and Objective setting, Evidence record and Skills reviewing."/>
<meta name="Keyword" content="professional, personal, planning, development, goal, setting, objective, record, review, evidence, skills, competence"/>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" media="screen,print" href="static/style.css" />
<!--[if IE]>
  <link rel="stylesheet" type="text/css" href="style_fix_ie.css" />
<![endif]-->
<link rel="SHORTCUT ICON" href="static/images/favicon.ico" /><!-- I used this to force the update on the favicon -->
{% include 'includes/analytics_tracking.html' %}
<script type="text/javascript" src="static/scripts.js"></script>
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: mms7kn4f6wle
  onLoad: logout
</script>
you are being logged out of LinkedIn and PDapp... <br>
<div id="redirecting">you will be redirected to the welcome page</div>
<iframe seamless frameborder="0" src="https://www.linkedin.com/secure/login?session_full_logout=&amp;trk=hb_signout">linkedin logout</iframe>