<!DOCTYPE html>
<html>
	<head>
		<title>Welcome | pdapp</title>
		{% include 'includes/header.html' %}
<div class="help_bar_closed" id="help_bar"></div>
		<div id='content'>
			<h1>Fulfill Your Potential</h1>
			<h2 style="margin-left:80px">PDapp helps you develop personally and professionally by providing a clear and consistent framework for planning, executing,
			 recording and reviewing your development activities.</h2>
			 <br><br>
			<div>
				<h1>PDapp helps you:</h1>
				<h2 style="margin-left:80px">- Plan your goals</h2><br>
				<h2 style="margin-left:80px">- Articulate your objectives</h2><br>
				<h2 style="margin-left:80px">- Record evidence of skills development</h2><br>
				<h2 style="margin-left:80px">- Review evidence against objectives, skills or professional competency frameworks</h2><br>
				<h2 style="margin-left:80px">- Carry out continual development by repeating the cycle of Plan, Do, Record and Review</h2><br>
			</div>
		</div>

		{% include 'includes/footer.html' %}
	</body>
</html>
